@import "../../style/variables.scss";
// @use '../../style/variables.scss' as *;

.yf-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: $--font-icon-base;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}
